.topbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    background-color: brown;
}